*,*::before,*::after {
    box-sizing: border-box;
}


ul[class], ol[class] {
    padding: 0;
}


body, h1, h2, h3, h4, p,ul[class], ol[class], li, figure, blockquote, dl,
dd, figcaption {
    margin:0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}

img {
    width: 100%;
    display: block;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.header__title {
    text-align: center;
    font-family: sans-serif;

}

.header__content {
    text-align: justify;
}

.header__content span{
    font-style: italic ;
    font-weight: bold;
}

.header__content-img{
    width: 100%;
    height: 300px;
}

.header__content-img img {
    width: 100%;
    height:100%;
    object-fit: contain;
}

.table-of-contents__title, .article__title {
    color: #2f1c6a;
    font-family: sans-serif;
}

.table-of-contents__link {
    list-style: circle;
    margin-left: 15px;
}

.table-of-contents__link a{
    text-decoration: none;
    color:#000000;

}

.table-of-contents__link::after {
    content: ">";
    padding-left: 20px;
    font-weight: 1000;
}


.article__content {
    text-align: justify;
}

.article__content p{
    margin: 7px 0;
}



.article__content-img {
    height:400px;
    width: 70%;
    margin: 0 auto;
}

.article__content-img img {
    object-fit: contain;
    width:100%;
    height:100%;
}

.article__content-list-list li{
    margin-left: 15px;
}

.article__content-one {
    height:100%;
    width: 90%;
    margin: 0 auto;
}

.article__content-list-one-list li{
    margin-left: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.article__content-list-one-list p{
    padding-left: 0;
}


.article__content-code {
    background-color: #c0c0c0;
}


#myBtn {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8c8c8c;
    border-radius: 50%;
    opacity: 0.5;
    transition: 700ms;

}

#myBtn:hover {
    opacity: 0.9;
    background-color: #969696;
}

.footer__item {
    background-color: aqua;
    font-family: sans-serif;
    letter-spacing: 0.5em;
    font-size: 10px;
    text-align: center;
}